In [1]:
# Dependencies and Setup District_Summary
%matplotlib notebook
%pylab inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np





# File to Load (Remember to Change These)
school_data_to_load = "C:/Users/alisa/GIT/pandas-challenge/PyCitySchools/schools_complete.csv"
student_data_to_load = "C:/Users/alisa/GIT/pandas-challenge/PyCitySchools/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

#Calculate the total number of schools 15
total_number_of_schools = school_data['school_name'].count()

#Calculate the total number of students 39170 comma?
total_number_of_students = student_data['student_name'].count()

#Calculate the total budget  24649428 $ and comma .map("${:,.2f}".format)
#  format("${:,.2f}")
total_budget = school_data['budget'].sum()
#print (total_budget)

#Calculate the average math score 79.0 format 
average_math_score = student_data['math_score'].mean()
#print (average_math_score) 

#Calculate the average reading score 82  format
average_reading_score = student_data['reading_score'].mean()
#print (average_reading_score) 

#Calculate the percentage of students with a passing math score (70 or greater) 74.980853
students_with_passing_math_score = student_data.loc[student_data['math_score'] >= 70 ].count()
percent_math_passing =  round(students_with_passing_math_score / total_number_of_students,8)*100
#print (percent_math_score[1])

#Calculate the percentage of students with a passing reading score (70 or greater) 85.805463 
students_with_passing_reading_score = student_data.loc[student_data['reading_score'] >= 70 ].count()
percent_reading_passing =  round(students_with_passing_reading_score / total_number_of_students,8)*100
#print (percent_reading_passing[1])

#Calculate the percentage of students who passed math and reading (% Overall Passing) 85.805463
Overall_Passing = student_data.loc[student_data['math_score'and'reading_score'] >=70].count()
#print(z3) 33610
percent_Overall_Passing =  round(Overall_Passing / total_number_of_students,8)*100  
#print (p3) 



District_Summary = pd.DataFrame({'Total Schools': [total_number_of_schools],
                  'Total Students': [total_number_of_students],
                  'Total Budget':[total_budget],
                  'Average Math Score': [average_math_score],
                  'Average Reading Score': [average_reading_score],
                  '% Passing Math':[percent_math_passing[1]],
                  '% Passing Reading':[percent_reading_passing[1]],
                  '% Overall Passing':[percent_Overall_Passing[1]]})


District_Summary.head()

Populating the interactive namespace from numpy and matplotlib

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,85.805463

In [2]:
District_Summary.to_html('C:/Users/alisa/GIT/pandas-challenge/PyCitySchools/District_Summary.html')
District_Summary.to_csv('C:/Users/alisa/GIT/pandas-challenge/PyCitySchools/District_Summary.csv')

In [3]:
#Optional: give the displayed data cleaner formatting
#District_Summary.drop(District_Summary.index, inplace=True)